body{
    background-color: #2e0219;
}



/* Log in page */

#logInArea{  
    width:30%;
    height:300px;
    margin-top:10%; 
    margin-left:35%;
}

#logInHeader{
    text-align: center;
    color: #d19ea4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

#logInForm{
    text-align: center;   
}

input {
    border: none;
    border-bottom: 2px solid #d19ea4;
    background-color: #2e0219;
    color: #d19ea4;
    width: 60%;
    font-size: 20px;
}

#formBtn{
    padding: 10px;
    width:60%;
    background-color: #d19ea4;
    margin-top:15px;
    border: 0;
    border-radius:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
}


/* Sign up page */

#signUpArea{  
    width:30%;
    height:300px;
    margin-top:10%; 
    margin-left:35%;
}

#signUpHeader{
    text-align: center;
    color: #d19ea4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

#signUpForm{
    text-align: center;   
}


/* products page */
#productsPage{
    background-color:white;
}

#pagetitle{
    float:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;   
}

#cartBtn{
    padding:10px;
    width:10%;
    background-color:#d19ea4;
    margin-top:15px;
    border:0;
    border-radius:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    float:left;
}